{% extends 'base.html.twig' %}

{% block title %}Expense details{% endblock %}

{% block body %}
    <h1>Expense details</h1>

    <table class="table">
        <tbody>
          
            <tr>
                <th>Amount</th>
                <td>{{ expense.amount }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ expense.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ expense.category }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ expense.date ? expense.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex gap-3">
        <!-- Back to list button -->
        <a href="{{ path('app_expenses_index') }}" class="btn custom-btn" style="height: 38px;">← Back to list</a>


    </div>

{% endblock %}
