{% extends 'base.html.twig' %}

{% block title %}Budget{% endblock %}

{% block body %}
    <h1>Budget</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Amount</th>
                <td>{{ budget.amount }}</td>
            </tr>
            <tr>
                <th>Added at</th>
                <td>{{ budget.date ? budget.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_budget_index') }}" class="btn custom-btn">â† Back to list</a>

    <a href="{{ path('app_budget_edit', {'id': budget.id}) }}" class="btn btn-warning" >edit</a>

    {{ include('budget/_delete_form.html.twig') }}
{% endblock %}
